body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

div {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.character {
  width: 300px;
  margin: 40px auto;
  padding: 25px;
  text-align: center;
  background: #222;
  border-radius: 15px;
  border: 1px solid #444;
}

.character h2 {
  margin-bottom: 10px;
}

.character p {
  color: #ccc;
}